<section
  class="animate-fadein animate-duration-300 animate-ease-in mx-auto flex min-h-screen items-center justify-center lg:items-start"
>
  <div class="flex justify-center gap-12">
    <div class="flex flex-col p-20 lg:min-w-[40rem]">
      <a routerLink="/" class="mb-8 flex items-center justify-center">
        <app-lazy-image className="w-auto h-24 object-contain object-left" src="/public/icon.png" alt="Auth Image" />
        <h5 class="title-h5 whitespace-nowrap font-normal">Cymbit Trading</h5>
      </a>
      <div class="flex flex-grow flex-col justify-center">
        <div class="mx-auto w-full max-w-md">
          <h5 class="title-h5 text-center lg:text-left">Forgot Password</h5>
          <p class="body-small mt-4 text-center lg:text-left">Enter your email to reset your password.</p>
          <div class="flex flex-col">
            @for (message of messages(); track message; let first = $first) {
              <p-message
                [severity]="message.severity"
                [text]="message.content"
                icon="pi {{ message.icon }}"
                size="large"
                styleClass="mt-4"
              />
            }
          </div>
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="mt-8">
            <p-floatlabel variant="on" class="mt-4">
              <input type="text" formControlName="email" pInputText class="w-full" pSize="large" required />
              <label for="on_label">Email</label>
            </p-floatlabel>
            <small *ngIf="formSubmitted && forgotForm.get('email')?.invalid" class="text-red-500">
              {{
                forgotForm.get('email')?.hasError('required')
                  ? 'Email is
              required'
                  : 'Please enter a valid email'
              }}
            </small>
            <div class="my-8 flex items-center justify-between gap-4">
              <p-button
                routerLink="/login"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
                severity="secondary"
              >
                <span>Cancel</span>
              </p-button>
              <p-button
                type="submit"
                [loading]="forgotMutation.isPending()"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
              >
                <span>Submit</span>
              </p-button>
            </div>
          </form>
          <div class="body-small mt-8 text-center lg:text-left">
            Not registered?
            <a routerLink="/register" class="text-primary-500 hover:underline">Create an Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-container hidden h-full py-10 lg:flex">
      <div
        class="mx-auto flex h-screen w-full items-center justify-center overflow-hidden lg:max-w-[32.5rem] xl:max-w-[50rem]"
      >
        <app-lazy-image
          className="w-auto max-h-[75vh] object-contain object-center"
          src="/public/landing/auth/forgot-welcome.png"
          alt="Auth Image"
        />
      </div>
    </div>
  </div>
</section>
