<section
  class="flex items-center justify-center min-h-screen mx-auto animate-fadein animate-duration-300 animate-ease-in lg:items-start"
  >
  <div class="flex justify-center gap-12">
    <div class="flex flex-col p-20 lg:min-w-[40rem]">
      <a routerLink="/" class="flex items-center justify-center mb-8">
        <app-lazy-image className="w-auto h-24 object-contain object-left" src="/public/icon.png" alt="Auth Image" />
        <h5 class="font-normal title-h5 whitespace-nowrap">Cymbit Trading</h5>
      </a>
      <div class="flex flex-col justify-center flex-grow">
        <div class="w-full max-w-md mx-auto">
          <h5 class="text-center title-h5 lg:text-left">Forgot Password</h5>
          <p class="mt-4 text-center body-small lg:text-left">Enter your email to reset your password.</p>
          <div class="flex flex-col">
            @for (message of messages(); track message; let first = $first) {
              <p-message
                [severity]="message.severity"
                [text]="message.content"
                icon="pi {{ message.icon }}"
                size="large"
                class="mt-4"
                />
            }
          </div>
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="mt-8">
            <p-floatlabel variant="on" class="mt-4">
              <input type="text" formControlName="email" pInputText class="w-full" pSize="large" required />
              <label for="on_label">Email</label>
            </p-floatlabel>
            @if (formSubmitted && forgotForm.get('email')?.invalid) {
              <small class="text-red-500">
                {{ forgotForm.get('email')?.hasError('required') ? 'Email is required' : 'Please enter a valid email' }}
              </small>
            }
            <div class="flex items-center justify-between gap-4 my-8">
              <p-button
                routerLink="/login"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
                severity="secondary"
                >
                <span>Cancel</span>
              </p-button>
              <p-button
                type="submit"
                [loading]="forgotMutation.isPending()"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
                >
                <span>Submit</span>
              </p-button>
            </div>
          </form>
          <div class="mt-8 text-center body-small lg:text-left">
            Not registered?
            <a routerLink="/register" class="text-primary-500 hover:underline">Create an Account</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden h-full py-10 landing-container lg:flex">
      <div
        class="mx-auto flex h-screen w-full items-center justify-center overflow-hidden lg:max-w-[32.5rem] xl:max-w-[50rem]"
        >
        <app-lazy-image
          className="w-auto max-h-[75vh] object-contain object-center"
          src="/public/landing/auth/forgot-welcome.png"
          alt="Auth Image"
          />
      </div>
    </div>
  </div>
</section>
