<p-card class="tabs mx-auto max-w-4xl">
  <p-tabs [value]="activeTab" scrollable lazy (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="account"><i class="pi pi-user mr-2"></i>Account</p-tab>
      <p-tab value="trading"><i class="pi pi-chart-line mr-2"></i>Trading</p-tab>
      <p-tab value="notification"><i class="pi pi-bell mr-2"></i>Notifications</p-tab>
      <p-tab value="security"><i class="pi pi-shield mr-2"></i>Security</p-tab>
      <p-tab value="appearance"><i class="pi pi-palette mr-2"></i>Appearance</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="account">
        <app-account-settings />
      </p-tabpanel>
      <p-tabpanel value="trading">
        <app-trading-settings [exchangeSlug]="exchangeSlug" />
      </p-tabpanel>
      <p-tabpanel value="notification">
        <app-notification-settings />
      </p-tabpanel>
      <p-tabpanel value="security">
        <app-security-settings />
      </p-tabpanel>
      <p-tabpanel value="appearance">
        <app-appearance-settings />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
