{
  "printWidth": 120,
  "semi": true,
  "bracketSameLine": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^@angular/(.*)$",
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@chansey/(.*)$",
    "^@chansey-web/(.*)$",
    "^\\./(.*)$",
    "^\\.\\./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderCaseInsensitive": true
}
