{
  "printWidth": 120,
  "semi": true,
  "bracketSameLine": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/chansey/tailwind.config.js",
  "tailwindFunctions": ["clsx", "tw"]
}
