{
  "printWidth": 120,
  "semi": true,
  "bracketSameLine": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./apps/chansey/src/tailwind.css",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
