<section
  class="animate-fadein animate-duration-300 animate-ease-in mx-auto flex min-h-screen items-center justify-center lg:items-start"
>
  <div class="flex h-full w-full gap-12 lg:gap-0">
    <div class="flex flex-col p-20 lg:w-1/2 lg:min-w-160">
      <a routerLink="/" class="mb-8 flex items-center justify-center">
        <app-lazy-image className="w-auto h-24 object-contain object-left" src="/public/icon.png" alt="Auth Image" />
        <h5 class="title-h5 font-normal whitespace-nowrap">Cymbit Trading</h5>
      </a>
      <div class="flex grow flex-col justify-center">
        <div class="mx-auto w-full max-w-md">
          <h5 class="title-h5 text-center lg:text-left">Verification</h5>
          <p class="body-small mt-4 text-center lg:text-left">
            We have sent a code to your email: <span class="text-primary">{{ emailCensored }}</span>
          </p>
          <div class="flex flex-col">
            @for (message of messages(); track message; let first = $first) {
              <p-message
                [severity]="message.severity"
                [text]="message.content"
                icon="pi {{ message.icon }}"
                size="large"
                class="mt-4"
              />
            }
          </div>
          <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="mt-8">
            <p-inputotp formControlName="code" [length]="6" autoFocus size="large" />

            @if (formSubmitted && otpForm.get('email')?.invalid) {
              <small class="text-red-500">
                {{ otpForm.get('email')?.hasError('required') ? 'Email is required' : 'Please enter a valid email' }}
              </small>
            }
            <div class="my-8 flex items-center justify-between gap-4">
              <p-button
                routerLink="/login"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
                severity="secondary"
              >
                <span>Cancel</span>
              </p-button>
              <p-button
                type="submit"
                [loading]="verifyOtpMutation.isPending()"
                [raised]="true"
                [style]="{ width: '100%' }"
                class="w-1/2"
              >
                <span>Verify</span>
              </p-button>
            </div>
          </form>
          <div class="body-small mt-4 text-center">
            Didn't receive the code?
            <button
              type="button"
              class="text-primary-500 hover:underline"
              [disabled]="resendOtpMutation.isPending()"
              (click)="resendOtp()"
            >
              {{ resendOtpMutation.isPending() ? 'Sending...' : 'Resend Code' }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-container hidden h-screen w-full py-10 lg:flex lg:w-1/2 lg:items-center lg:justify-center">
      <div class="flex h-full w-full items-center justify-center overflow-hidden">
        <app-lazy-image
          className="w-auto max-h-[75vh] object-contain object-center"
          src="/public/landing/auth/forgot-welcome.png"
          alt="Auth Image"
        />
      </div>
    </div>
  </div>
</section>
