@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .landing-container {
    @apply mx-auto w-full max-w-[62rem] px-6;
  }
  @screen md {
    .landing-container {
      @apply max-w-[70rem];
    }
  }
  @screen xl {
    .landing-container {
      @apply max-w-[85rem];
    }
  }
  .title-h1 {
    @apply font-semibold leading-tight text-center text-surface-900 dark:text-surface-0 text-7xl;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h2 {
    @apply font-semibold leading-none text-center text-surface-950 dark:text-surface-0;
    font-size: 4rem;
    font-family: 'InterDisplay', sans-serif;
  }
  .title-h3 {
    @apply font-semibold leading-tight text-center text-surface-900 dark:text-surface-0;
    font-size: 3.5rem;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv07' on,
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h4 {
    @apply font-semibold leading-tight text-center text-surface-900 dark:text-surface-0;
    font-size: 2.85rem;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h5 {
    @apply text-4xl font-medium leading-snug text-center text-surface-950 dark:text-surface-0;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h6 {
    @apply text-3xl font-medium text-center text-surface-950 dark:text-surface-0;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h7 {
    @apply text-2xl font-medium text-center text-surface-950 dark:text-surface-0;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .body-large {
    @apply text-xl text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }

  .body-medium {
    @apply text-lg text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }

  .body-small {
    @apply text-base text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .body-xsmall {
    @apply text-sm text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .label-large {
    @apply text-xl font-medium text-surface-950 dark:text-surface-0;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv07' on,
      'cv09' on,
      'cv10' on,
      'cv11' on;
  }
  .label-medium {
    @apply text-lg font-medium text-surface-950 dark:text-surface-0;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }
  .label-small {
    @apply text-base font-medium text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }
  .label-xsmall {
    @apply text-sm font-medium text-center text-surface-500;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv11' on,
      'cv09' on,
      'cv10' on,
      'cv05' on;
  }
  .paragraph-xsmall {
    @apply text-sm text-center;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'ss11' on,
      'cv09' on,
      'liga' off,
      'calt' off;
  }
  .badge {
    @apply body-small text-surface-950 dark:text-surface-0 border-surface-200 dark:border-surface-800 mx-auto w-fit rounded-full border px-3.5 py-1 leading-normal;
  }
  .body-button {
    @apply bg-primary-600 hover:bg-primary-500 text-surface-0 rounded-lg px-3.5 py-2 text-center font-normal transition-all;
    width: 8.5rem;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }

  .landing-container {
    @apply transition-all bg-primary-50/75 dark:bg-primary-900/40 backdrop-blur-sm;
  }

  .button-button {
    @apply flex items-center justify-center w-full gap-2 py-2 font-medium leading-normal text-center transition-all border rounded-lg border-surface-200 dark:border-surface-800 hover:bg-surface-100 dark:hover:bg-surface-800 text-surface-700 dark:text-surface-200;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv08' on,
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
    box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
  }

  /* Set PrimeNG card body padding to zero on small devices */
  @media (max-width: 639px) {
    :root p-card.tabs {
      --p-card-body-padding: 0 !important;
    }

    /* Remove padding only from p-card components in the categories component */
    app-categories p-card .p-card,
    app-exchanges p-card .p-card,
    app-coins p-card .p-card,
    app-risks p-card .p-card,
    app-categories .p-card,
    app-categories .p-card,
    app-exchanges .p-card,
    app-coins .p-card,
    app-risks .p-card {
      padding: 0 !important;
    }

    app-categories p-card .p-card-body,
    app-exchanges p-card .p-card-body,
    app-coins p-card .p-card-body,
    app-risks p-card .p-card-body,
    app-categories .p-card-body,
    app-exchanges .p-card-body,
    app-coins .p-card-body,
    app-risks .p-card-body {
      padding: 0 !important;
    }

    app-categories p-card .p-card-content,
    app-exchanges p-card .p-card-content,
    app-coins p-card .p-card-content,
    app-risks p-card .p-card-content,
    app-categories .p-card-content,
    app-exchanges .p-card-content,
    app-coins .p-card-content,
    app-risks .p-card-content {
      padding: 0 !important;
    }

    .p-paginator-current {
      margin: 8px 0;
      text-align: center;
      width: 100%;
    }
  }
}
