@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .landing-container {
    @apply mx-auto w-full max-w-[62rem] px-6;
  }
  @screen md {
    .landing-container {
      @apply max-w-[70rem];
    }
  }
  @screen xl {
    .landing-container {
      @apply max-w-[85rem];
    }
  }
  .title-h1 {
    @apply text-surface-900 dark:text-surface-0 text-center text-7xl font-semibold leading-tight;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h2 {
    @apply text-surface-950 dark:text-surface-0 text-center font-semibold leading-none;
    font-size: 4rem;
    font-family: 'InterDisplay', sans-serif;
  }
  .title-h3 {
    @apply text-surface-900 dark:text-surface-0 text-center font-semibold leading-tight;
    font-size: 3.5rem;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv07' on,
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h4 {
    @apply text-surface-900 dark:text-surface-0 text-center font-semibold leading-tight;
    font-size: 2.85rem;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h5 {
    @apply text-surface-950 dark:text-surface-0 text-center text-4xl font-medium leading-snug;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h6 {
    @apply text-surface-950 dark:text-surface-0 text-center text-3xl font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv09' on,
      'cv05' on,
      'cv10' on,
      'cv11' on;
  }
  .title-h7 {
    @apply text-surface-950 dark:text-surface-0 text-center text-2xl font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .body-large {
    @apply text-surface-500 text-center text-xl;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }

  .body-medium {
    @apply text-surface-500 text-center text-lg;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }

  .body-small {
    @apply text-surface-500 text-center text-base;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .body-xsmall {
    @apply text-surface-500 text-center text-sm;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
  }
  .label-large {
    @apply text-surface-950 dark:text-surface-0 text-xl font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv07' on,
      'cv09' on,
      'cv10' on,
      'cv11' on;
  }
  .label-medium {
    @apply text-surface-950 dark:text-surface-0 text-lg font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }
  .label-small {
    @apply text-surface-500 text-center text-base font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }
  .label-xsmall {
    @apply text-surface-500 text-center text-sm font-medium;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv01' on,
      'cv02' on,
      'cv03' on,
      'cv04' on,
      'cv07' on,
      'cv11' on,
      'cv09' on,
      'cv10' on,
      'cv05' on;
  }
  .paragraph-xsmall {
    @apply text-center text-sm;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'ss11' on,
      'cv09' on,
      'liga' off,
      'calt' off;
  }
  .badge {
    @apply body-small text-surface-950 dark:text-surface-0 border-surface-200 dark:border-surface-800 mx-auto w-fit rounded-full border px-3.5 py-1 leading-normal;
  }
  .body-button {
    @apply bg-primary-600 hover:bg-primary-500 text-surface-0 rounded-lg px-3.5 py-2 text-center font-normal transition-all;
    width: 8.5rem;
    font-feature-settings:
      'cv11' on,
      'cv10' on,
      'cv09' on,
      'cv07' on,
      'cv05' on,
      'cv04' on,
      'cv03' on,
      'cv02' on,
      'cv01' on;
  }

  .landing-container {
    @apply bg-primary-50/75 dark:bg-primary-900/40 backdrop-blur-sm transition-all;
  }

  .button-button {
    @apply border-surface-200 dark:border-surface-800 hover:bg-surface-100 dark:hover:bg-surface-800 text-surface-700 dark:text-surface-200 flex w-full items-center justify-center gap-2 rounded-lg border py-2 text-center font-medium leading-normal transition-all;
    font-family: 'InterDisplay', sans-serif;
    font-feature-settings:
      'cv08' on,
      'cv09' on,
      'cv03' on,
      'cv02' on,
      'dlig' on,
      'cv01' on,
      'liga' off,
      'calt' off;
    box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
  }

  /* Set PrimeNG card body padding to zero on small devices */
  @media (max-width: 639px) {
    :root p-card.tabs {
      --p-card-body-padding: 0 !important;
    }
  }
}
