<p-drawer
  [visible]="visible()"
  (onHide)="onDrawerHide()"
  position="right"
  [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
  class="layout-config-sidebar w-80"
  header="Settings"
>
  <div class="flex flex-col gap-6">
    <div>
      <span class="text-lg font-semibold text-muted-color">Primary</span>
      <div class="flex flex-wrap gap-2 pt-2">
        @for (primaryColor of primaryColors(); track primaryColor.name) {
        <button
          type="button"
          [title]="primaryColor.name"
          (click)="updateColors($event, 'primary', primaryColor)"
          class="flex h-6 w-6 cursor-pointer items-center justify-center rounded duration-150 hover:shadow-lg"
          [style]="{
              'background-color':
                primaryColor?.name === 'noir' ? 'var(--text-color)' : primaryColor?.palette?.['500']
            }"
        >
          @if (primaryColor.name === selectedPrimaryColor()) {
          <i class="pi pi-check text-white"></i>
          }
        </button>
        }
      </div>
    </div>

    <div>
      <span class="text-lg font-semibold text-muted-color">Surface</span>
      <div class="flex flex-wrap gap-2 pt-2">
        @for (surface of surfaces; track surface.name) {
        <button
          type="button"
          [title]="surface.name"
          (click)="updateColors($event, 'surface', surface)"
          class="flex h-6 w-6 cursor-pointer items-center justify-center rounded duration-150 hover:shadow-lg"
          [style]="{
              'background-color': surface?.palette?.['500']
            }"
        >
          @if ( selectedSurfaceColor() ? selectedSurfaceColor() === surface.name : darkTheme() ? surface.name === 'zinc'
          : surface.name === 'slate' ) {
          <i class="pi pi-check text-white"></i>
          }
        </button>
        }
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-2">
        <span class="text-lg font-semibold text-muted-color">Presets</span>
        <p-selectbutton
          [options]="presets"
          [ngModel]="selectedPreset()"
          (ngModelChange)="onPresetChange($event)"
          [allowEmpty]="false"
        ></p-selectbutton>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-2">
        <span class="text-lg font-semibold text-muted-color">Color Scheme</span>
        <p-selectbutton
          [ngModel]="darkTheme()"
          (ngModelChange)="toggleDarkMode()"
          [options]="themeOptions"
          optionLabel="name"
          optionValue="value"
          [allowEmpty]="false"
        ></p-selectbutton>
      </div>
    </div>
    @if (!simple() && location() === 'app') {
    <div class="flex flex-col gap-2">
      <span class="text-lg font-semibold text-muted-color">Card Style</span>
      <p-selectbutton
        [ngModel]="cardStyle()"
        (ngModelChange)="onCardStyleChange($event)"
        [options]="cardStyleOptions"
        optionLabel="name"
        optionValue="value"
        [allowEmpty]="false"
      />
    </div>
    } @if (!simple() && location() === 'app') {
    <div class="flex flex-col gap-2">
      <span class="text-lg font-semibold text-muted-color">Menu Theme</span>
      <p-selectbutton
        [ngModel]="menuTheme()"
        (ngModelChange)="onMenuThemeChange($event)"
        [options]="menuThemeOptions"
        optionLabel="name"
        optionValue="value"
        [allowEmpty]="false"
      />
    </div>
    } @if (!simple() && location() === 'app') {
    <div>
      <div class="flex flex-col gap-2">
        <span class="text-lg font-semibold text-muted-color">Menu Type</span>
        <div class="flex flex-col flex-wrap gap-3">
          <div class="flex">
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="static"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('static')"
                inputId="static"
              />
              <label for="static">Static</label>
            </div>
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="overlay"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('overlay')"
                inputId="overlay"
              />
              <label for="overlay">Overlay</label>
            </div>
          </div>
          <div class="flex">
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="slim"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('slim')"
                inputId="slim"
              />
              <label for="slim">Slim</label>
            </div>
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="compact"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('compact')"
                inputId="compact"
              />
              <label for="compact">Compact</label>
            </div>
          </div>
          <div class="flex">
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="reveal"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('reveal')"
                inputId="reveal"
              />
              <label for="reveal">Reveal</label>
            </div>
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="drawer"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('drawer')"
                inputId="drawer"
              />
              <label for="drawer">Drawer</label>
            </div>
          </div>
          <div class="flex">
            <div class="flex w-6/12 items-center gap-2">
              <p-radiobutton
                name="menuMode"
                value="horizontal"
                [(ngModel)]="menuMode"
                (ngModelChange)="setMenuMode('horizontal')"
                inputId="horizontal"
              />
              <label for="horizontal">Horizontal</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</p-drawer>
