<app-auth-page-shell illustration="forgot">
  <div class="text-center">
    <h5 class="title-h5">Email Verification</h5>

    @if (isVerifying()) {
      <div class="mt-8 flex flex-col items-center">
        <p-progressSpinner strokeWidth="4" [style]="{ width: '50px', height: '50px' }" />
        <p class="body-small mt-4">Verifying your email address...</p>
      </div>
    }

    <app-auth-messages [messages]="messages()" />

    @if (isSuccess()) {
      <p class="body-small text-surface-500 mt-4">Redirecting to login page...</p>
    }

    <div class="body-small mt-8">
      @if (!isVerifying()) {
        <p-button routerLink="/login" [raised]="true" class="mt-4">
          <span>Go to Login</span>
        </p-button>
      }
    </div>
  </div>
</app-auth-page-shell>
