<p-card styleClass="mb-4 max-w-screen">
  <ng-container *ngIf="assetsQuery.isPending(); else assetsContent">
    <div class="p-2">
      <h2 class="mb-3"><p-skeleton width="20%" height="24px"></p-skeleton></h2>
      <div class="relative w-full">
        <table class="w-full">
          <!-- Table Header -->
          <thead>
            <tr>
              <th><p-skeleton width="80px" height="24px"></p-skeleton></th>
              <th><p-skeleton width="60px" height="24px"></p-skeleton></th>
              <th><p-skeleton width="70px" height="24px"></p-skeleton></th>
              <th><p-skeleton width="60px" height="24px"></p-skeleton></th>
            </tr>
          </thead>
          <!-- Table Body -->
          <tbody>
            <tr *ngFor="let i of [1, 2, 3, 4, 5]" class="py-3">
              <td class="py-3">
                <div class="align-items-center flex gap-2">
                  <p-skeleton width="30px" height="24px" styleClass="mr-2"></p-skeleton>
                  <p-skeleton width="100px" height="24px"></p-skeleton>
                </div>
              </td>
              <td class="py-3"><p-skeleton width="70px" height="24px"></p-skeleton></td>
              <td class="py-3"><p-skeleton width="80px" height="24px"></p-skeleton></td>
              <td class="py-3"><p-skeleton width="80px" height="24px"></p-skeleton></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #assetsContent>
    <div *ngIf="assetsQuery.isError()" class="p-3 text-center">
      <p class="mb-4 text-lg text-red-500">{{ assetsQuery.error() }}</p>
      <p-button
        severity="info"
        (click)="assetsQuery.refetch()"
        label="Retry"
        icon="pi pi-refresh"
        [loading]="assetsQuery.isFetching()"
        variant="outlined"
      />
    </div>

    @let assets = assetsQuery.data();
    <div *ngIf="!assetsQuery.isError() && assets">
      <h2 class="mb-3 text-xl font-bold">Your Assets</h2>

      <!-- Data table - Constrained width container with horizontal scroll -->
      <div class="relative w-full">
        <p-table [value]="assets" [paginator]="assets.length > 10" [rows]="10" [scrollable]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Holdings</th>
              <th>All time unrealized returns</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-asset>
            <tr>
              <td>
                <div class="align-items-center flex gap-2">
                  <p-avatar [image]="getImage(asset.symbol)" shape="circle" size="large" class="mr-2" />
                  <div class="flex flex-col">
                    <span class="text-lg font-semibold">{{ asset.name }}</span>
                    <span class="text-sm text-neutral-400">{{ asset.symbol }}</span>
                  </div>
                </div>
              </td>
              <td class="text-lg font-semibold">${{ asset.price | number: '1.2-2' }}</td>
              <td class="flex flex-col">
                <span class="text-lg font-semibold"> ${{ asset.usdValue | number: '1.2-2' }}</span>
                <span class="text-sm font-semibold text-neutral-400"
                  >{{ asset.quantity | number: '1.2-8' }} {{ asset.symbol }}</span
                >
              </td>
              <td></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4" class="p-4 text-center">
                <p>No assets found</p>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-template>
</p-card>
