<div class="prices-container">
  <div class="flex-column flex gap-3">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">All Coins</p-tab>
        <p-tab value="1">Watchlist</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <p-card>
            <ng-container *ngIf="isLoading()">
              <div class="justify-content-center flex">
                <i class="pi pi-spin pi-spinner text-4xl"></i>
              </div>
            </ng-container>

            <ng-container *ngIf="!isLoading()">
              <p-table
                [value]="getTabContent() || []"
                [scrollable]="true"
                styleClass="p-datatable-sm"
                [tableStyle]="{ 'min-width': '50rem' }"
                [paginator]="true"
                [rows]="15"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} coins"
                [rowsPerPageOptions]="[15, 25, 50]"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 8rem">Coin</th>
                    <th style="width: 8rem">Symbol</th>
                    <th style="width: 10rem">Price</th>
                    <th style="width: 10rem">24h Change</th>
                    <th style="width: 10rem">Market Cap</th>
                    <th style="width: 10rem">24h Volume</th>
                    <th style="width: 10rem">Circulating Supply</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-coin>
                  <tr>
                    <td>
                      <div class="align-items-center flex gap-2">
                        <img
                          *ngIf="coin.image"
                          [src]="coin.image"
                          [alt]="coin.name"
                          width="24"
                          height="24"
                          class="coin-icon"
                        />
                        <span>{{ coin.name }}</span>
                      </div>
                    </td>
                    <td>{{ coin.symbol }}</td>
                    <td>{{ 0 | formatCurrency }}</td>
                    <td>
                      <div class="align-items-center flex gap-1" [ngClass]="getChangeColorClass(0)">
                        <i [class]="getChangeIcon(0)" style="font-size: 0.8rem"></i>
                        <span>{{ 0 | formatPercent }}</span>
                      </div>
                    </td>
                    <td>{{ coin.marketRank | formatCurrency }}</td>
                    <td>{{ coin.totalVolume | formatCurrency }}</td>
                    <td>
                      <span
                        pTooltip="Max Supply: {{ coin.maxSupply | formatCurrency }}"
                        tooltipPosition="top"
                        *ngIf="coin.maxSupply"
                      >
                        {{ coin.circulatingSupply | formatCurrency }}
                      </span>
                      <span *ngIf="!coin.maxSupply">
                        {{ coin.circulatingSupply | formatCurrency }}
                      </span>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="7" class="p-4 text-center">
                      <div *ngIf="activeTabIndex === 0">No coins found</div>
                      <div *ngIf="activeTabIndex === 1">
                        <p class="mb-3">Your watchlist is empty</p>
                        <p-button
                          routerLink="/app/prices"
                          label="Browse Coins"
                          icon="pi pi-search"
                          (onClick)="activeTabIndex = 0"
                        >
                        </p-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </ng-container>
          </p-card>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
