<section
  class="animate-fadein animate-duration-300 animate-ease-in mx-auto flex min-h-screen items-center justify-center lg:items-start"
>
  <div class="flex h-full w-full gap-12 lg:gap-0">
    <div class="flex flex-col p-20 lg:w-1/2 lg:min-w-160">
      <a routerLink="/" class="mb-8 flex items-center justify-center">
        <app-lazy-image className="w-auto h-24 object-contain object-left" src="/public/icon.png" alt="Auth Image" />
        <h5 class="title-h5 font-normal whitespace-nowrap">Cymbit Trading</h5>
      </a>
      <div class="flex grow flex-col justify-center">
        <div class="mx-auto w-full max-w-md">
          <h5 class="title-h5 text-center lg:text-left">Reset Password</h5>
          <p class="body-small mt-4 text-center lg:text-left">Please enter your new password below.</p>
          <div class="flex flex-col">
            @for (message of messages(); track message; let first = $first) {
              <p-message
                [severity]="message.severity"
                [text]="message.content"
                icon="pi {{ message.icon }}"
                size="large"
                class="mt-4"
              />
            }
          </div>
          <p-fluid>
            <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="mt-8">
              <p-floatlabel variant="on" class="mt-4">
                <p-password
                  formControlName="password"
                  size="large"
                  [toggleMask]="true"
                  required
                  autocomplete="new-password"
                >
                  <ng-template #footer>
                    <ul class="my-0 ml-2 pl-2 leading-normal">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>At least one special character</li>
                      <li>Minimum 8 characters</li>
                    </ul>
                  </ng-template>
                </p-password>
                <label for="on_label">Password</label>
              </p-floatlabel>
              @if (newPasswordForm.get('password')?.invalid) {
                <small class="text-red-500">
                  {{ getPasswordError('password') }}
                </small>
              }
              <p-floatlabel variant="on" class="mt-4">
                <p-password
                  formControlName="confirmPassword"
                  size="large"
                  [toggleMask]="true"
                  [feedback]="false"
                  autocomplete="new-password"
                  required
                />
                <label for="on_label">Confirm Password</label>
              </p-floatlabel>
              @if (formSubmitted && newPasswordForm.get('confirmPassword')?.invalid) {
                <small class="text-red-500"> Password confirmation is required </small>
              }
              @if (
                formSubmitted &&
                newPasswordForm.get('confirmPassword')?.valid &&
                newPasswordForm.hasError('passwordMismatch')
              ) {
                <small class="text-red-500"> Passwords do not match </small>
              }
              <p-button
                type="submit"
                class="mt-8 block w-full"
                [loading]="newPasswordMutation.isPending()"
                [raised]="true"
                [style]="{ width: '100%' }"
              >
                <span>Reset Password</span>
              </p-button>
            </form>
          </p-fluid>
          <div class="body-small mt-8 text-center lg:text-left">
            Return to <a routerLink="/login" class="text-primary-500 hover:underline">Login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-container hidden h-screen w-full py-10 lg:flex lg:w-1/2 lg:items-center lg:justify-center">
      <div class="flex h-full w-full items-center justify-center overflow-hidden">
        <app-lazy-image
          className="w-auto max-h-[75vh] object-contain object-center"
          src="/public/landing/auth/forgot-welcome.png"
          alt="Auth Image"
        />
      </div>
    </div>
  </div>
</section>
