<div class="dashboard-container">
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        @let user = userQuery.data();
        <div class="col-12 md:col-6 lg:col-4" *ngFor="let exchange of user?.exchanges">
          <app-exchange-balance [exchange]="exchange"></app-exchange-balance>
        </div>

        <div class="col-12" *ngIf="user?.exchanges?.length === 0">
          <p-card styleClass="mb-4">
            <div class="p-3 text-center">
              <p class="text-600 mb-8">Connect your exchanges in the profile section to see your balances here.</p>
              <p-button
                routerLink="/app/profile"
                severity="help"
                icon="pi pi-wallet"
                label="Connect a Wallet"
                size="large"
              />
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
