<div class="dashboard-container">
  @if (userQuery.isPending()) {
    <div class="flex min-h-64 items-center justify-center sm:min-h-96">
      <p-progressSpinner [style]="{ width: '50px', height: '50px' }" strokeWidth="4" />
    </div>
  } @else {
    @if (showWizard()) {
      <div class="mx-auto max-w-3xl">
        <app-getting-started (completed)="onWizardComplete()" />
      </div>
    } @else {
      <div class="grid grid-cols-12 gap-x-6 gap-y-4">
        <div class="col-span-12">
          <app-exchange-status-alert />
        </div>
        <div class="col-span-12">
          <app-exchange-balance />
        </div>
        <div class="col-span-12 md:col-span-6">
          <app-user-assets [limit]="10" />
        </div>
        <div class="col-span-12 md:col-span-6">
          <app-recent-transactions [limit]="10" />
        </div>
      </div>
    }
  }
</div>
