<div class="dashboard-container">
  @let user = userQuery.data();
  <div class="grid grid-cols-12 gap-x-6 gap-y-6">
    <div class="col-span-12">
      <app-exchange-balance />
    </div>

    <div class="col-span-12 md:col-span-6">
      <app-user-assets />
    </div>

    <div class="col-span-12 md:col-span-6">
      <app-recent-transactions [limit]="5" />
    </div>
  </div>
  <div class="grid grid-cols-1" *ngIf="user?.exchanges?.length === 0">
    <p-card styleClass="mb-4">
      <div class="p-3 text-center">
        <p class="text-600 mb-8">Connect your exchanges in the profile section to see your balances here.</p>
        <p-button routerLink="/app/profile" severity="help" icon="pi pi-wallet" label="Connect a Wallet" size="large" />
      </div>
    </p-card>
  </div>
</div>
